.UsetStudyPage {
  background: url('./logo.png');
  background-size: 13%;
  background-position: bottom 10px right 10px;
  background-repeat: no-repeat;
  min-height: 100vh;
  .ending-screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .anticon {
      font-size: 144px;
      color: rgb(20, 201, 20);
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
      font-size: 24px;
      text-align: center;
    }
  }
  .header {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 4px 0px 5px 0px;
    .ant-progress-line {
      width: 95%;
      .ant-progress-bg {
        background-color: #43c0ea;
      }
      .ant-progress-text {
        color: #43c0ea;
      }
    }
  }
  .survey-body {
    padding-top: 35px;
    .question-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p.introduction {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
      }
      p {
        text-align: center;
        margin-bottom: 0;
        margin-top: 5px;
      }
      img {
        max-width: 512px;
        max-height: 512px;
        width: 100%;
      }
      .input-image-section {
        margin-bottom: 15px;
        p {
          font-size: 16px;
        }
      }
      .enhanced-image-section {
        text-align: center;
        .enhanced-image {
          display: inline-block;
          margin: 5px;
          img {
            max-width: 448px;
            max-height: 400px;
            width: 100%;
          }
        }
      }
      .ant-select.error .ant-select-selector {
        border-color: #ff4d4f;
      }
      .ant-btn {
        margin: 10px 0px;
      }
    }
    .submit-section {
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        margin-bottom: 0;
        font-size: 24px;
        text-align: center;
        &:last-of-type {
          margin-bottom: 30px;
        }
      }
      .ant-input {
        width: 300px;
        margin-bottom: 15px;
      }
    }
  }
}
